.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.logo {
    height: 2rem;
    width: 6rem;
}

.desktopMenu {
    display: flex;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    color: white;
    text-decoration: none; 
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.desktopMenuListItem:hover {
    color: #0094FF;
    transform: scale(1.1);
}

.desktopMenuBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: .75rem;
    border-radius: 2rem;
    cursor: pointer;
}

.desktopMenuBtn:hover {
    background: #0094FF;
    color: white;
}

.desktopMenuImg {
    object-fit: cover;
    height: rem;
    width: 1.5rem;
    margin: .75rem;
}

.desktopMenuListItem.active {
    font-weight: bolder;
    color: #0094FF;
  }